header{
  z-index: 1!important;
}
.invisible-scroll{
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scroll-padding-left: 10px;
  scroll-padding-right: 10px;
}

.invisible-scroll::-webkit-scrollbar {
  display: none;
}

.nuxt-yeerlo-wrapper .yrl-card {
  min-width: 300px !important;
  max-width: 300px !important;
  max-height: 370px !important;
  height: 366px;
}

.nuxt-yeerlo-wrapper .yrl-card-footer {
  margin-top: 0rem !important;
}

.yrl-modalBody .yrl-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: var(--y-white);
  border-radius: 10px;
  z-index: 10;
  min-height: 460px !important;
  justify-content: center;
  margin: auto;
  top: 0 !important;
  bottom: 0 !important;
  height: fit-content !important;

}

.yrl-Tab2-2 {
    background: var(--y-base-color-dark);
    color: var(--y-white);
    width: 100%;
    border-radius: 10px !important;
    font-weight: 700;
}

.yrl-tablink {
  width: 93% !important;
  display: flex;
  justify-content: center !important;
  margin: auto !important;
}

.yrl-btn-close {
  padding: 0rem !important;
  margin-right: 10px;
  background: #ededed;
  width: 40px !important;
  height: 40px!important;
  display: flex !important;
  align-items: self-end !important;
}

.yrl-priceCounterForm{
  background: #ededed ;
  border-radius: 5px;
}


@media only screen and (max-width: 600px) {
  .yrl-infoCard-meta {
    overflow: hidden;
    padding-bottom: 7rem;
    max-height: none !important;
  }

  .yrl-modalBody .yrl-modal {
    top: 0px !important;
    justify-content: normal; 
    position: fixed;
    border-radius: 0px !important;
    height: auto !important;
  }

  .yrl-Tab2-2 {
    bottom: 1rem !important;
    border-radius: 50rem !important;
  }
  .nuxt-yeerlo-wrapper .yrl-card {
    min-width: 345px !important;
  
  }
  .yrl-icon-button svg{
    height: 24px !important;
    width: 24px !important;
  }

  #yrl-numberSelect {
    width: 55px !important;
    padding-left: 10px !important;
  }
}
.yrl-failed-fetch svg{
  margin: auto!important;
}
.yrl-retry-btn{
  margin-bottom: 3rem!important;
}
